ALCHEMY_PASSWORD=CHANGEME_GENERATED_BY_SETUP_DEPLOY
GLASSVIEW_UPLOAD_TOKEN=CHANGEME_GENERATED_BY_SETUP_DEPLOY
GLASSVIEW_BUCKET_NAME=glassview-prod-screenshots
GLASSVIEW_USE_EXISTING_R2=false
GLASSVIEW_ENABLE_WORKERS_DEV=true
STAGE=prod
GLASSVIEW_LOCAL_URL=http://localhost:8787
